name: Auto-commit latest package versions
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
    inputs: {}

permissions:
  contents: write

jobs:
  update-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install semver jinja2
      - name: Run autoupdate.py
        run: ./autoupdate.py
      - uses: stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d
        with:
            commit_message: "Auto-update package versions"
